<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">


    <!--_________Static implementation_________-->
    <bean id="inMemoryMealRepository" class="ru.javawebinar.topjava.repository.mock.InMemoryMealRepositoryImpl"/>

    <bean id="inMemoryUserRepository" class="ru.javawebinar.topjava.repository.mock.InMemoryUserRepositoryImpl"/>

    <bean id="mealService" class="ru.javawebinar.topjava.service.MealServiceImpl"
          c:_0-ref="inMemoryMealRepository"/>

    <bean id="userService" class="ru.javawebinar.topjava.service.UserServiceImpl"
          c:_0-ref="inMemoryUserRepository"/>

    <bean id="mealRestController" class="ru.javawebinar.topjava.web.meal.MealRestController"
          c:_0-ref="mealService"/>


    <!--_________________________________________-->


    <!--<context:annotation-config/>-->

    <!--<context:component-scan base-package="ru.javawebinar.**.repository"/>-->

    <!--<context:component-scan base-package="ru.javawebinar.**.service"/>-->

    <!--<context:component-scan base-package="ru.javawebinar.**.web"/>-->

</beans>